﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Web/VFligtTransport.js"></script>

<h1>Flights</h1>


<div id="TabulatorFligth">

</div>


<script type="text/javascript">

    var rut = new function ()
    {
        this.urlFlightTransport = "@Url.Action("Details", "VFlightTransport")"
    }

</script>
