﻿@{
    ViewData["Title"] = "Flights Page";
}

<div class="text-center">
    <h1 class="display-4">Flights example</h1>
    <p>This is an example to searching flights in this page, to see you have to click the botton "Flights" in the top bar.</p>
    
</div>
